# Alias
# Environment
alias hosts='sudo vim /etc/hosts'

# Automate
alias startmyday='sh ~/Development/terminal/startmyday.sh'
alias endmyday='sh ~/Development/terminal/endmyday.sh'
alias addsshkeys='sh ~/Development/terminal/addsshkeys.sh'

# Show/Hide hidden system files
alias showhidden='sh ~/Development/terminal/showhidden.sh'
alias hidehidden='sh ~/Development/terminal/hidehidden.sh'
