[user]
        name = Brian Saycocie
        email = hello@bri4n.com
[core]
        autocrlf = input
        editor = vim
        excludesfile = /Users/brian/.gitignore_global
[alias]
        st = status
        co = checkout
        br = branch
        up = rebase
        ci = commit
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true
[push]
        default = simple
